%article.entry
  =text_field_tag('title','', :placeholder => 'podaj tytuł dla wpisu',
                    :class => 'title')
  .editable{:contenteditable => 'true', :class => 'content'}
  =submit_tag('Save')


